/*-- Header Part Starts Here --*/
.header {
	padding: 1.8em 0;
	position: relative;
	text-align: center;
	background: #2a2017;
}
.logo {
	position: absolute;
	top: 0;
	z-index: 999;
}
.navigation {
	float: right;
}
ul.navig{
	padding:0;
}
ul.navig li{
	display: inline-block;
	margin: 0 12px;
	position:relative;
}
ul.navig li a{
	font-size:1em;
	color:#fff;
	font-weight:600;
	text-decoration: none;
}
ul.navig li a:hover ,ul.navig li a.active{
	color: #97262A;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
	
}
.head_grid{
	text-align:center;
	width: 26.3%;
}
.head_grid_center{
	margin: 0 7em;
}
.grid_ba{
	width:100%;
	background:#dfdfdf;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	text-align:center;
	padding: 5em 1em;
	margin:0 auto;
}
.grid_ba p{
	margin:1em 0 0 0;
	font-size:1em;
	font-weight:600;
	color: #4c4a5a;
}
.stars {
	margin: 7em 0 2em 0;
	text-align: center;
	position: relative;
}
.stars:before {
	content: "";
	background: rgba(88, 86, 104, 0.33);
	height: 1px;
	width: 35%;
	position: absolute;
	top: 59%;
	left: 9%;
}
.stars:after {
	content: "";
	background: rgba(88, 86, 104, 0.33);
	height: 1px;
	width: 35%;
	position: absolute;
	top: 59%;
	right: 9%;
}
@media (max-width: 768px){
span.menu:before {
	content: url(../images/nav-icon.png);
	cursor: pointer;	
	height:32px;
}
ul.navig {
	width: 11%;
	float: right;
	margin:0;
}
ul.navig{
	display:none;
}
ul.navig li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
ul.navig li a {
	padding: 7px;
	font-size: 14px;
	width: 100%;
	font-weight:600;
	display:block;
	color: #fff;
}
ul.navig li a:hover{
	color:#97262A;
}
span.menu{
	display:block;
	float:right;
	margin: 1px 0px 0 0;
}
ul.navig {
	margin: 0;
	z-index: 2222;
	position: absolute;
	width: 96%;
	text-align: center;
	top: 100%;
	left: 2%;
	padding: 10px 0px;
	background: #2A2017;
}
.navigation {
	height: 20px;
	padding: 0px 0px 0em;
	margin-bottom: 0em;
}
ul.navig li:nth-of-type(4) {
	margin: 0 0px 0 0em;
}
ul.navig li:nth-of-type(3) {
	margin: 0 0em 0 0px;
}
.logo {
	left: 33.5%;
}
}
/*--Header-Part-Ends-Here --*/