body {
padding-right: 0px;
padding-left: 0px;
}
.bs-example{
margin: 20px;
}
#navbar-main{
    height: 2.7em;
}
#image-profile{
    margin-top: -0.3em !important;
}
footer {
margin-top: 5%;
color: #666;
background: #222;
padding: 17px 0 18px 0;
border-top: 1px solid #000;
}
footer a {
color: #999;
}
footer a:hover {
color: #efefef;
}
@media (max-width: 767px) {
footer, .wrapper {
padding-left: 20px;
padding-right: 20px;
}
}